.chapitres-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }
  .chapitres-container .card {
    padding: 24px; }
    .chapitres-container .card a {
      width: 100%;
      display: block;
      color: rgba(0, 0, 0, 0.87); }
      .chapitres-container .card a:hover {
        text-decoration: underline; }

.projet-titre {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px; }

.cours-card {
  width: 80%;
  margin: 20px auto;
  padding: 20px; }
  .cours-card img {
    display: block;
    margin: 0 auto; }
