.answers {
  margin: 10px 0; }
  .answers .card-panel {
    display: none; }
    .answers .card-panel a {
      color: white !important;
      padding: 0 10px;
      text-decoration: underline; }
    .answers .card-panel.red {
      background-color: #FB9080 !important; }
    .answers .card-panel.show {
      display: block; }
  .answers span {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    color: white !important; }
    .answers span i {
      margin-right: 20px; }
