@charset "UTF-8";
@import "globals";

.answers {
  margin: 10px 0;

  .card-panel {
    display: none;

    a {
      color: white !important;
      padding: 0 10px;
      text-decoration: underline;
    }

    &.red {
      background-color: #FB9080 !important;
    }

    &.show {
      display: block;
    }
  }

  span {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    color: white !important;

    i {
      margin-right: 20px;
    }
  }
}