@import "globals";

.projet-titre {
  padding: 0 20px;

  h4 {
    display: inline-block;
    margin: 50px 0 0 0;
  }

  a {
    float: right;
    margin-top: 50px;
  }
}

.row-cards {
  text-align: center;
  margin: 50px 0 0 0;
}

.cours {
  width: 31.5% !important;
  margin-left: 10px !important;
  margin-right: 10px;
}

.cards {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 1000px;
  text-align: center;

  .card-image {
    height: 162px;
    overflow: hidden;
  }

  .loader-container {
    margin-bottom: 10px;
    border: none;
    padding-top: 0;
    padding-bottom: 15px;
  }

  .card-projects {
    width: 32% !important;
    float: none;
    position: relative;
    display: inline-block;

    .card-project {
      padding: 5px 5px 0 5px;

      div {
        overflow: hidden;
      }

      .card-project-a {
        display: block;
        padding: 0 0 20px 0;
      }
    }

    p {
      font-style: italic;
    }
  }
}
